[submodule "submodules/WinUIEdit"]
	path = submodules/WinUIEdit
	url = https://github.com/Avid29/WinUIEdit
[submodule "submodules/LibObjectFile"]
	path = submodules/LibObjectFile
	url = https://github.com/Avid29/LibObjectFile.git
